
<section data-ng-controller="HomeController">
	<div class="jumbotron text-center woods">

		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="" />
			</div>
		</div>

		<br>
		<div class="row">
			<p class="lead">
				WOODS
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-lg" href="http://meanjs.org" target="_blank">Go There!</a>
			</p>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-3">
			<h2>
				<strong>W</strong>oods
			</h2>
			<p><a target="_blank" href="http://mongodb.org/">It's healthy and worthy <a target="_blank" href="http://docs.mongodb.org/manual/">great manual</a> and you will feel great I tell you.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>T</strong>rees
			</h2>
			<p><a target="_blank" href="http://expressjs.com/"> Trees</a> are everywhere really <a target="_blank" href="http://expressjs.com/guide.html">Just look</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js"></a> around.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>N</strong>orth
			</h2>
			<p>Has the most beatiful nature <a target="_blank" href="http://angularjs.org/">It is so?</a> offers a lot. The <a target="_blank" href="http://www.thinkster.io/">stories and myth</a> and <a target="_blank" href="https://egghead.io/">Egghead</a> are great resources.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>A</strong>utum
			</h2>
			<p><a target="_blank" href="http://nodejs.org/">Autum</a> is comming here <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> the leafs will be on the ground and the rain would smell</p>
		</div>
	</div>
	

<ul class="flex-container">
  <li class="flex-item">Info here</li>
  <li class="flex-item">2</li>
  <li class="flex-item">3</li>
  <li class="flex-item">4</li>
  <li class="flex-item">5</li>
</ul>


<video-bg video-id="''" class= "video1"></video-bg>